.colorWrapper {
  height: fit-content;
  width: 100%;
  padding: 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  user-select: none;
}

.colorWrapper input[type="color"] {
  border: none;
  outline: none;
  background-color: transparent;
}

.colorWrapper label,
.colorWrapper input {
  color: var(--text-primary);
  cursor: pointer;
  transition: 0.3s ease;
}
.colorWrapper label:hover {
  color: var(--accent);
}