.boardBody {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 80%);
  height: 100dvh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;

  user-select: none;
}

.heading {
  color: hsl(0, 0%, 0%, 0.7);
  display: flex;
  align-items: center;
  font-size: xx-large;
  height: 60px;
  user-select: none;
}

.heading .title {
  /* position: absolute; */
  background-color: transparent;
  color: hsl(0, 0%, 0%, 0.7);
  border: none;
  outline: none;

  font: inherit;

  padding: 0;
  margin: 0;

  display: inherit;
  align-items: center;
}

.stages {
  flex: 1;
  width: fit-content;
  display: flex;
  gap: 20px;
}

.StageHeading {
  color: hsl(0, 0%, 0%, 0.7);
  font-size: medium;
  font-weight: 500;
  padding-left: 12px;
  padding-bottom: 8px;
  user-select: none;
}

.stage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
