:root {
  --bg-main: #0e0f12;
  --bg-column: hsl(220, 17%, 8%);
  --bg-card: hsl(224, 14%, 12%);

  --text-primary: hsl(197, 18%, 92%);
  --text-secondary: #8596ab;

  --accent: #00ffbb;
  --border: hsl(223, 20%, 21%);
  
  --bg-stage: hsla(0, 0%, 100%, 0.08);
  --bg-stage: var(--bg-column);
  /* --border: #4a5775; */

  --input: hsl(0, 50%, 30%);
  --wip: hsl(210, 60%, 30%);
  --output: hsl(140, 60%, 30%);
}

.boardBody {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.navBar {
  background-color: var(--bg-column);
  border-bottom: 1px solid var(--border) ;
  color: var(--accent);

  font-size: 1.5rem;
  font-weight: 400;

  box-sizing: border-box;

  width: 100%;
  height: 60px;

  padding: 0px 20px;
  margin: 0px;

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  user-select: none;
}

.workingArea {
  box-sizing: border-box;
  background-color: var(--bg-main);
  
  width: 100%;
  padding: 20px;
  padding-top: 0px;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;

  user-select: none;
}

.heading {
  color: var(--text-primary);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  height: 52px;
  user-select: none;
}

.heading .title {
  background-color: transparent;
  color: var(--text-primary);
  border: none;
  outline: none;

  font: inherit;

  height: 100%;
  padding: 0;
  margin: 0;

  display: inherit;
  align-items: center;
}

.stages {
  flex: 1;
  width: fit-content;
  display: flex;
  gap: 12px;
}

.StageHeading {
  color: var(--accent);
  font-size: medium;
  font-weight: 500;
  padding-left: 12px;
  padding-bottom: 12px;
  user-select: none;
}

.stage {
  display: flex;
  flex-direction: column;
  
  padding: 12px;
  padding-right: 4px;
  height: 100%;
  
  box-sizing: border-box;
  
  background-color: var(--bg-stage);
  border: 1px solid var(--border);
  border-radius: 4px;
}
