.boardBody {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 70%);
  height: 100dvh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.title {
  color: black;
  display: flex;
  align-items: center;
  font-size: xx-large;
  height: 60px;
}

.columnWrapper {
  flex: 1;
  width: fit-content;
  display: flex;
  gap: 20px;
}

.input,
.wip,
.output {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.heading {
  font-size: larger;
  font-weight: 500;
  padding-left: 12px;
  padding-bottom: 12px;
}

.columns {
  display: flex;
  align-items: flex-start; /**/
  gap: 4px;
}
/* 
.input {
    background-color: hsl(0, 50%, 85%);
}

.wip {
    background-color: hsl(208, 50%, 85%);
}

.output {
  background-color: hsl(140, 50%, 85%);
} */
