:root {
  --bg-main: #0e0f12;
  --bg-column: hsl(220, 17%, 8%);
  --bg-card: hsl(224, 14%, 12%);

  --text-primary: hsl(197, 18%, 92%);
  --text-secondary: #8596ab;

  --accent: #00ffbb;
  --border: hsl(223, 20%, 21%);

  --bg-stage: hsl(220, 17%, 2%);

  --input: hsl(0, 80%, 65%);
  --wip: hsl(210, 100%, 60%);
  --output: hsl(140, 90%, 60%);
}

.boardBody {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.navBar {
  background-color: var(--bg-stage);
  border-bottom: 1px solid var(--border);
  color: var(--accent);

  font-size: 1.5rem;
  font-weight: 400;

  box-sizing: border-box;

  width: 100%;
  height: 60px;

  padding: 0px 20px;
  margin: 0px;

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  z-index: 10;
  user-select: none;
}

.workingArea {
  box-sizing: border-box;
  background-color: var(--bg-main);

  width: 100%;
  padding: 20px;
  padding-top: 0px;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;

  user-select: none;
}

.heading {
  color: var(--text-primary);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  height: 52px;
  user-select: none;
}

.heading .title {
  background-color: transparent;
  color: var(--text-primary);
  border: none;
  outline: none;

  font: inherit;

  height: 100%;
  padding: 0;
  margin: 0;

  display: inherit;
  align-items: center;
}

.stages {
  flex: 1;
  width: fit-content;
  display: flex;
  gap: 12px;
  /* align-items: flex-start; */
}

.StageHeading {
  color: var(--stage-border);
  font-size: medium;
  font-weight: 500;
  padding-left: 12px;
  padding-bottom: 12px;
  user-select: none;
}

.contact {
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 0px 20px;

  transition: 0.3s ease;
}

.contact:hover {
  background-color: var(--bg-main);
  transform: translateY(-2px);
  cursor: pointer;
}

.contactDetails {
  background-color: var(--bg-column);
  border: 1px solid var(--border);
  color: var(--text-primary);
  
  border-top: none;
  
  position: absolute;
  top: -10px;
  right: 0;
  
  width: fit-content;
  padding: 20px;

  z-index: 5;
  transition: transform 0.3s ease;
}

.showContactDetails {
  transform: translateY(calc(-10px + 10px + 60px));
}

.stage {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 12px;
  padding-right: 4px;
  padding-bottom: 52px;
  height: auto;

  box-sizing: border-box;

  background-color: var(--bg-stage);

  /* background:
    linear-gradient(var(--stage-border), var(--stage-border) 50%) 
      left 0px top 0px 
      / 1px 69%
      no-repeat,
    linear-gradient(to right, var(--stage-border), var(--stage-border) 50%) 
      left 0px top 0px 
      / 69% 1px 
      no-repeat */

    /* linear-gradient(var(--stage-border), var(--stage-border) 50%) 
      right 0px bottom 0px 
      / 1px 30%
      no-repeat,
    linear-gradient(to right, var(--stage-border), var(--stage-border) 50%) 
      right 0px bottom 0px 
      / 30% 1px 
      no-repeat */
  ;
  
  border: 1px solid var(--border);
  border-radius: 6px;
}