.boardBody {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 80%);
  height: 100dvh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.title {
  color: hsl(0, 0%, 0%, 0.7);
  display: flex;
  align-items: center;
  font-size: xx-large;
  height: 60px;
}

.stages {
  flex: 1;
  width: fit-content;
  display: flex;
  gap: 20px;
}

.heading {
  color: hsl(0, 0%, 0%, 0.7);
  font-size: medium;
  font-weight: 500;
  padding-left: 12px;
  padding-bottom: 8px;
}

.stage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
