:root {
  --bg-main: #0e0f12;
  --bg-column: #16191f;
  --bg-card: hsl(227, 13%, 16%);

  --text-primary: #e8edef;
  --text-secondary: #8596ab;

  --accent: #00ffbb;
  --border: #3f485e;
  
  --bg-stage: hsla(0, 0%, 100%, 0.08);
  --bg-stage: var(--bg-card);
  /* --border: #4a5775; */

  --input: hsl(0, 40%, 30%);
  --wip: hsl(210, 60%, 30%);
  --output: hsl(140, 60%, 25%);
}

.boardBody {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.navBar {
  background-color: var(--bg-card);
  color: var(--accent);

  font-size: 1.6em;
  font-weight: 400;

  box-sizing: border-box;

  width: 100%;
  height: 60px;

  padding: 0px 20px;
  margin: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  user-select: none;
}

.workingArea {
  box-sizing: border-box;
  background-color: var(--bg-main);
  
  width: 100%;
  padding: 20px;
  padding-top: 0px;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;

  user-select: none;
}

.heading {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  font-size: 1.6em;
  font-weight: 400;
  height: 60px;
  user-select: none;
}

.heading .title {
  background-color: transparent;
  color: var(--text-primary);
  border: none;
  outline: none;

  font: inherit;

  padding: 0;
  margin: 0;

  display: inherit;
  align-items: center;
}

.stages {
  flex: 1;
  width: fit-content;
  display: flex;
  gap: 12px;
}

.StageHeading {
  color: var(--accent);
  font-size: medium;
  font-weight: 500;
  padding-left: 12px;
  padding-bottom: 8px;
  user-select: none;
}

.stage {
  display: flex;
  flex-direction: column;
  
  padding: 8px;
  height: 100%;
  
  box-sizing: border-box;
  
  background-color: var(--bg-stage);
  border: 1px solid var(--bg-stage);
  border-radius: 8px;
}
