.cardBody {
  min-height: 100px;
  width: 100%;
  background-color: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 4px;

  box-sizing: border-box;
  padding: 12px;

  user-select: none;
}

/* .cardBody:active {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px hsl(0, 0%, 0%, 0.5);
  cursor:move;
} */

.cardStatus {
  color: var(--text-secondary);
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: 0.7rem;
}

.title,
.title input {
  color: var(--text-primary);
  font-size: 1.2rem;
  margin-bottom: 4px;
  line-height: 1.4;
  width: 100%;
}

.heading {
  display: flex;
  user-select: none;
}

.deleteCardBtn {
  background-color: transparent;
  color: var(--text-primary);
  border-radius: 50%;
  height: 28px;
  width: 28px;

  border: none;
  transition: 0.3s ease;
}

.deleteCardBtn:hover {
  background-color: hsla(0, 0%, 100%, 0.08);
  cursor: pointer;
}

.title input {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  line-height: 1.35;
}

.description {
  color: var(--text-primary);
  width: 100%;
  min-height: 1.5rem;

  font-size: 1rem;
  font-weight: 400;
  
  white-space: pre-wrap;
  word-break: break-word;

  user-select: none;
}

.description textarea {
  color: var(--text-primary);
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;

  font: inherit;

  width: 100%;
  resize: none;
  overflow: hidden;
}

.cardDate {
  color: var(--text-secondary);
  margin-top: 4px;
  font-size: 0.7rem;
  user-select: none;
}