.cardBody {
  min-height: 100px;
  width: 100%;
  background-color: beige;
  border: 2px solid hsl(0, 0%, 50%, 0.6);
  border-radius: 4px;

  box-sizing: border-box;
  padding: 16px;

  user-select: none;
}

.title,
.title input {
  color: hsl(0, 0%, 0%, 0.8);
  font-size: x-large;
  margin-bottom: 12px;
  line-height: 1.4;
  width: 100%;
}

.heading {
  display: flex;
  user-select: none;
}

.deleteCardBtn {
  background-color: transparent;
  border-radius: 50%;
  height: fit-content;
  width: fit-content;

  border: none;
}

.deleteCardBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.title input {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  line-height: 1.35;
}

.description {
  color: hsl(0, 0%, 0%, 0.8);
  /* border: 1px solid grey; */
  width: 100%;
  min-height: 1.5em;
  
  white-space: pre-wrap;
  word-break: break-word;

  user-select: none;
}

.description textarea {
  color: hsl(0, 0%, 0%, 0.8);
  /* border: 1px solid grey; */
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;

  font: inherit;

  width: 100%;
  resize: none;
  overflow: hidden;
}

.cardDate {
  color: hsl(0, 0%, 0%, 0.4);
  margin-top: 12px;
  font-size: 0.8em;
  user-select: none;
}