.cardBody {
  position: relative;
  min-height: 100px;
  width: 100%;
  background-color: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 4px;

  box-sizing: border-box;
  padding: 14px;

  user-select: none;
  transition: translate 0.3s ease;
}

.cardBody:hover {
  box-shadow: 0px 0px 2px var(--accent);
  translate: 0px -4px;
}

.cardStatus {
  color: var(--text-secondary);
  font-size: 0.7rem;
}

.title,
.title input {
  color: var(--text-primary);
  font-size: 1.1rem;
  margin-bottom: 6px;
  line-height: 1.4;
  width: 100%;
}

.heading {
  display: flex;
  user-select: none;
}

.cardMenuBtn {
  position: absolute;

  right: 12px;
  top: 12px;

  background-color: transparent;
  color: var(--text-primary);
  border: none;
  border-radius: 4px;

  height: 16px;
  width: 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s ease;
}

.cardMenuBtn svg {
  fill: var(--text-secondary);
  cursor: pointer;
}

.cardMenuBtn svg:hover {
  fill: var(--text-primary);
}

.cardMenu {
  position: absolute;
  top: -8px;
  right: -8px;

  background-color: var(--bg-column);
  border: 1px solid var(--border);
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.4);
  border-radius: 8px;
  
  box-sizing: border-box;
  height: fit-content;

  padding: 12px;
  width: 180px;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  scale: 0;
  transition: 0.3s ease;
}

.showCardMenu {
  scale: 1;
}

.deleteCardBtn {
  background-color: var(--bg-column);
  border-bottom: 1px solid var(--border);
  color: var(--text-primary);

  font-size: 0.8rem;

  box-sizing: border-box;
  padding: 8px;
  
  height: fit-content;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.deleteCardBtn:hover {
  color: hsl(0, 75%, 60%);
  cursor: pointer;
}

.CardPriorityBtn {
  background-color: transparent;
  color: var(--text-secondary);
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.CardPriorityBtn select {
  color: var(--text-primary);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.CardPriorityBtn select option {
  background-color: var(--bg-column);
}

.title input {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  line-height: 1.35;
}

.description {
  color: var(--text-secondary);
  width: 100%;
  min-height: 1.5rem;

  font-size: 0.9rem;
  font-weight: 400;
  
  white-space: pre-wrap;
  word-break: break-word;

  user-select: none;
}

.description textarea {
  color: var(--text-secondary);
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;

  font: inherit;

  width: 100%;
  resize: none;
  overflow: hidden;
}

.cardDate {
  color: var(--text-secondary);
  margin-top: 10px;
  font-size: 0.75rem;
  user-select: none;
}