.column {
    width: 360px;
    min-height: 100px;
    height: auto;

    border: 2px solid grey;
    border-radius: 8px;

    padding: 12px;

    box-sizing: border-box;
    overflow: auto;
}

.heading {
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}