.column {
  width: 360px;
  min-height: 100px;
  height: auto;

  box-sizing: border-box;

  border-radius: 8px;
  padding: 12px;

  background-color: var(--bg-main) ;
}

.heading {
  text-align: center;
  position: relative;
  margin-bottom: 12px;
}

.heading input,
.title {
  background-color: transparent;
  color: var(--text-primary);

  font-size: larger;
  text-align: center;
  padding: 0;
  margin: 0;
}

.title {
  user-select: none;
}

.heading input {
  outline: none;
  font-family: inherit;
  border: none;
}

.heading .deleteColumnBtn {
  position: absolute;
  right: 0;

  background-color: transparent;
  color: var(--text-primary);
  font-size: medium;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  transition: 0.3s ease;
}

.heading .deleteColumnBtn:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.columnBody .addCardBtn {
  background-color: transparent;
  color: var(--text-secondary);
  font-size: 1.6em;

  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  margin-bottom: 8px;
  transition: 0.3s ease;
}

.columnBody .addCardBtn:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.columnBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  width: 100%;

  gap: 12px;
}
