.column {
  width: 360px;
  min-height: 100px;
  height: auto;

  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 8px;

  padding: 12px;

  box-sizing: border-box;
  /* overflow: auto; */
}

.heading {
  text-align: center;
  position: relative;
  margin-bottom: 12px;
}

.heading input,
.title {
  background-color: transparent;
  color: hsl(0, 0%, 0%, 0.8);

  font-size: larger;
  text-align: center;
  padding: 0;
  margin: 0;
}

.title {
  user-select: none;
}

.heading input {
  outline: none;
  font-family: inherit;
  /* border: 1px solid grey; */
  border: none;
}

.heading .deleteColumnBtn {
  position: absolute;
  left: 0;

  background-color: transparent;
  color: hsla(0, 0%, 0%, 0.5);
  font-size: medium;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
}

.heading .deleteColumnBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.columnBody .addCardBtn {
  background-color: rgba(255, 255, 255, 0.4);
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: none;
  margin-bottom: 8px;
}

.columnBody .addCardBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.columnBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  width: 100%;

  gap: 12px;
}
