.column {
    width: 360px;
    min-height: 100px;
    height: auto;

    border: 2px solid grey;
    border-radius: 8px;

    padding: 12px;

    box-sizing: border-box;
    overflow: auto;
}

.heading {
    color: hsl(0, 0%, 0%, 0.8);
    font-size: larger;
    font-weight: 500;
    margin-bottom: 12px;
    text-align: center;
}