.column {
    width: 360px;
    min-height: 100px;
    height: auto;

    border: 2px solid rgba(128, 128, 128, 0.7);
    border-radius: 8px;

    padding: 12px;

    box-sizing: border-box;
    overflow: auto;
}

.heading {
    text-align: center;
    position: relative;
    margin-bottom: 12px;
}

.heading input, .title {
    background-color: transparent;
    color: hsl(0, 0%, 0%, 0.8);
    outline: none;

    font-size: larger;
    font-weight: 500;
    text-align: center;
    line-height: 1.4;

    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    /* field-sizing: content; */
}

.title {
    user-select: none;
}

.heading input {
    border: 1px solid grey;
    line-height: 1.35;
}

.heading button {
    position: absolute;
    left: 0;

    background-color: transparent;
    color: hsla(0, 0%, 0%, 0.5);
    font-size: medium;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.heading button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.cards button {
    background-color: rgba(255, 255, 255, 0.4);
    height: 28px;
    width: 28px;
}

.cards button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 12px;
}