.settingsMenu {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  backdrop-filter: var(--blur);
  background-color: var(--bg-menu);
  border-left: 1px solid var(--border);
  color: var(--text-primary);
  width: 280px;
  height: 100%;
  padding: 12px;
  z-index: 15;
  user-select: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-width: none;

  translate: 280px;
  transition: translate 0.3s ease;
}
.showSettingsMenu {
  translate: 0px;
}

.settingsMenu hr {
  height: 0.5px;
  width: 100%;
  border: none;
  background-color: var(--border);
}
.settingsMenu .compartment hr {
  height: 1px;
  width: 100%;
  border: none;
  background-color: var(--border);
}

.heading {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.compartment {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorCompartment{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.effectCompartment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer button {
  background-color: var(--bg-menu);
  color: var(--text-primary);
  border: 1px solid var(--border);
  outline: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}
.footer button:hover {
  color: var(--accent);
}
.footer button:active {
  scale: 0.9;
}