.settingsMenu {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  backdrop-filter: var(--blur);
  background-color: var(--bg-menu);
  border-left: 1px solid var(--border);
  color: var(--menu-text-primary);
  width: 300px;
  height: 100%;
  padding: 8px 20px;
  z-index: 15;
  user-select: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  /* Hide menu */
  translate: 300px;

  transition: translate 0.3s ease;
}
.showSettingsMenu {
  translate: 0px;
}

.settingsMenu hr {
  flex-shrink: 0;
  height: 0.5px;
  width: 100%;
  border: none;
  background-color: var(--border);
}
.settingsMenu .compartment hr {
  flex-shrink: 0;
  height: 0.5px;
  width: 100%;
  border: none;
  background-color: var(--border);
}

.heading {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.themeSelect {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.themeSelect .deleteThemeBtn {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}
.themeSelect .deleteThemeBtn svg {
  fill: var(--menu-text-primary);
}
.themeSelect .deleteThemeBtn:hover svg {
  fill: var(--alert);
}
.themeSelect .deleteThemeBtn:active svg {
  scale: 0.9;
}

.settingsMenu select {
  background-color: transparent;
  color: var(--menu-text-primary);
  border: none;
  outline: none;
  cursor: pointer;

  font-size: 0.95rem;
}

.settingsMenu select:hover {
  color: var(--accent);
}

.settingsMenu option {
  background-color: var(--bg-menu);
  border: none;
  outline: none;
  cursor: pointer;
}

.themeSelector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.createNewTheme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  border: 1px solid var(--border);
  border-radius: 30px;

  overflow: hidden;
}

.createNewTheme input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--accent);

  padding: 4px 16px;
}

.createThemeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-menu);
  color: var(--menu-text-primary);
  font-size: 1rem;
  width: 150%;
  height: 150%;
  padding: 4px 8px;
  border: 1px solid var(--border);
  outline: none;
  cursor: pointer;
}
.createThemeBtn:hover {
  color: var(--accent);
}
.createThemeBtn:active {
  scale: 0.95;
}

.compartment {
  flex-grow: 1;
  /* flex-shrink: 0; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-width: none;
}

.colorCompartment{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.effectCompartment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer button {
  background-color: var(--bg-menu);
  color: var(--menu-text-primary);
  border: 1px solid var(--border);
  outline: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}
.footer button:hover {
  color: var(--accent);
}
.footer button:active {
  scale: 0.9;
}