.columns {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start; /**/
  gap: 2px;
  height: 100%;
}

.columns .addColumnBtn {
  border-radius: 4px;
  height: 100%;
  width: 28px;
  border: none;

  background-color: rgba(255, 255, 255, 0);
  color: var(--text-secondary);
  
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s ease;
}

.columns .addColumnBtn:hover {
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}