.columns {
  display: flex;
  align-items: flex-start; /**/
  gap: 4px;
}

.columns .addColumnBtn {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: none;

  background-color: rgba(255, 255, 255, 0);
  color: var(--text-secondary);
  
  font-size: 1.6em;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s ease;
}

.columns .addColumnBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}