.columns {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start; /**/
  gap: 4px;
  /* height: 100%; */
}

.columns .addColumnBtn {
  border-radius: 4px;
  height: 36px;
  width: 36px;
  border: none;

  background-color: transparent;
  color: var(--stage-btn-color);
  
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s ease;
}

.columns .addColumnBtn:hover {
  background-color: var(--bg-column);
;
  cursor: pointer;
}

.columns .addColumnBtn svg {
  fill: var(--stage-btn-color);
}
.columns .addColumnBtn:hover svg {
  fill: var(--accent);
}