:root {
  background-color: #000000;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  /*Color themes*/
  
  /* -----------------------------Menu------------------------------- */
  --bg-menu-alpha: 0.5;
  --bg-menu: rgba(0, 0, 0, var(--bg-menu-alpha));
  --menu-text-primary: hsl(197, 18%, 92%);

  /* ----------------------------NavBar------------------------------- */
  --bg-navBar: hsl(220, 17%, 2%);
  --navBar-font-color: #00ffbb;
  --navBar-menu-color: hsl(197, 18%, 92%);

  /* -----------------------------main------------------------------- */
  --bg-main: #0e0f12;
  --main-font-color: hsl(197, 18%, 92%);
  --accent: #00ffbb;
  --alert: hsl(0, 100%, 60%);
  --border: hsl(223, 20%, 21%);

  /* -----------------------------Stage------------------------------ */
  --bg-stage: hsl(220, 17%, 2%);
  --stage-font-color: hsl(197, 18%, 92%);
  --stage-btn-color: #8596ab;

  /* -----------------------------column----------------------------- */
  --bg-column: hsl(220, 17%, 8%);
  --column-btn-color: #8596ab;
  --input: hsl(20, 80%, 55%);
  --wip: hsl(210, 100%, 55%);
  --output: hsl(140, 80%, 55%);

  /* -----------------------------card------------------------------- */
  --bg-card: #1a1d24;
  --card-text-primary: #e7ecee;
  --card-text-secondary: #8596ab;
  --card-hr: var(--border);
  
  
  /* ----------------------------Effects------------------------------ */
  /*Shadow*/
  --shadow-rgb: 0, 0, 0;
  --shadow-alpha: 0.4;
  --shadow: 0 4px 10px rgba(var(--shadow-rgb), var(--shadow-alpha));

  /*Effects*/
  --blur: blur(5px);

  /*glow*/
  --glow-rgb: 0, 255, 187;
  --glow-alpha: 0.6;
  --glow: rgba(var(--glow-rgb), var(--glow-alpha));
  --glow: var(--accent);

  /*Extras*/
  --progress-bar-thickness: 1px;
  --progress: 30%;
  --scrollbar-color: var(--bg-card);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}